<p>posts-table works!</p>
<div>
    <div id="one">
  
  <p-table [value]="posts" dataKey="id" editMode="row" [paginator]="true" [rows]="rows" [showCurrentPageReport]="true" [(first)]="first"
            (onEditInit)="onEditInit($event)" (onEditComplete)="onEditComplete($event)"   (onEditCancel)="onEditCancel($event)"
            currentPageReportTemplate="shows from  {first}  to {last} of {totalRecords} rows" [rowsPerPageOptions]="[10,25,50]">
               
      <ng-template pTemplate="header">
        <tr>
          <th>Post Title</th>
          <th>Author</th>
          <th># of Comments</th>
          <th>Image</th>
      </tr>
    </ng-template>
   
    <ng-template pTemplate="body" let-post let-editing="editing" let-ri="rowIndex">
        <!-- <tr [pEditableRow]="post"> -->
            <tr>
              
              <td [pEditableColumn]="post" pEditableColumnField="title">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="post.title">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{post.title}}
                    </ng-template>
                </p-cellEditor>
            </td>
            
              <td>{{post.author}}</td>
              <td>{{post.commentsCount}}</td>
              <td>{{post.picture}}</td>
                    
          </tr>
      </ng-template>
  </p-table>
  </div>



<!-- <div id="two" dir="rtl">
    <app-orders-total [totalOrders]="totalOrders" [totalShippingCost]="totalShippingCost" [averageShippingCost]="averageShippingCost">
    </app-orders-total>
</div> -->


